.homenav ul li a {
    display: none;
}

.homenav ul li {
    list-style: none;
}

.headersection img {
    width: 100%;
    margin-top: -16px;
    height: 600px;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
}

.headersection::before {
    content: "";
    position: absolute;
    background-color: #0e0d0c;
    width: 100%;
    height: 600px;
    z-index: 999;
    top: 82px;
    opacity: 0.5;
}

.homehadding h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 30px;
    color: #ffffff;
    z-index: 9999999;
    text-transform: uppercase;
    letter-spacing: 5px;
    text-align: center;
}

.homehadding p {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 17px;
    color: #ef6f40;
    z-index: 9999999;
    text-transform: uppercase;
    letter-spacing: 5px;
    text-align: center;
    font-weight: 800;
    text-align: center;
}

.name {
    color: #f40707;
    transition: border-bottom 0.3s;
}

.name:hover {
    border-bottom: 2px solid #ef6f40;
}

.slidersection {
    margin-top: 50px;
    margin-bottom: 50px;
}

section.slidersection h2 {
    font-size: 35px;
    text-align: center;
}

.testmonial h2 {
    text-align: center;
    font-size: 35px;
}

@media only screen and (max-width: 600px) {
    .homenav ul {
        position: absolute;
        top: 10px;
        right: 122px;
        gap: 14px;
    }

    .homenav ul li {
        list-style: none;
    }

    .homenav ul li a {
        text-decoration: none;
        font-size: 18px;
        color: #ef6f40;
        display: block;
        z-index: 999;
    }

    .headersection img {
        margin-top: 0px;
        height: 400px;
    }

    .headersection::before {
        top: 70px;
        height: 400px;
    }

    .homehadding h1 {
        text-align: center;
        width: 100%;
        z-index: 999;
        font-size: 25px;
        top: 35%;
    }

    .homehadding p {
        width: 100%;
        top: 48%;
        text-align: center;
        z-index: 999;
    }

}